.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body, #root, .page-container, .sidebar {
  height: 100%;
}

.title-container {
  width: 100%;
  padding-left: auto;
  padding-right: auto;
}

@media screen and (max-width: 500px) {
  #mapid {
    height: 100%;
    width: 100%;
    min-height: 200px;
    min-width: 200px;
    z-index: 1;
  }

  .sidebar {
    width: 100%;
  
    z-index: 2;
    min-width: 300px;
    background-color: rgb(128, 128, 128, 0.5);
  
    text-align: center;

  }
}

@media screen and (min-width: 500px) {
  #mapid {
    height: 100%;
    width: 100%;
    min-height: 200px;
    min-width: 200px;
    position: absolute;
    z-index: 1;
  }

  .sidebar {
    width: 30%;
  
    z-index: 2;
    position: relative;
    float: right;
    min-width: 300px;
    background-color: rgb(128, 128, 128, 0.5);
  
    text-align: center;
  }
}

.paper-tile {
  margin: 20px;
  padding: 20px;
}

